.newComment{
    display: table;
    background-color: lightgray;
    margin: auto;
    padding-bottom: 5vh ;
    margin-top: 7vh;
    border-radius: 5px;
}

.newComment input{
    border-style:none;
    border-radius: 3px;
}

.guideText{
color: black;
}

.comentarioInpt{
    width: 80%;
    height: 15ch;
}

.comment{
    border-top: 1px solid black;
}
.basicInfo{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}
.about{
    margin: 0;
    padding: 0;
    color: black;
    margin-right: 5vw
}
.descricao{
    margin-left: 2vw;
}
.user{
    margin-top: 1vh
}
.comunityContainer{
    background-color: lightgray;
    margin-top: 10vh !important;
    margin:auto;
    display: table;
    border-radius:5px ;
    padding: 0;
}
.commentOptions{
    display: flex;
}
.publish{
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding: 5px;
    border-radius: 3px;
    background-color: darkgray;
}
.hiddenMsg{
    color: black;
    display: none;
    margin-top: 1vh;
}
.footer{
    margin-top: 5vh;
}